.page-body {
  background: #FFF;
  margin: 0;
  padding: 0;
}
.container {
  width: 300px;
  padding: 0 10px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: 728px;
    padding: 0 20px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
  }
}
.clearfix::after {
  clear: both;
  content: "";
  display: block;
}
img {
  max-width: 100%;
  height: auto;
}
@font-face {
  font-family: 'Proxima Nova BL';
  /* Имя шрифта */
  src: url(../fonts/ProximaNova-Black.ttf);
  /* Путь к файлу со шрифтом */
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Rg';
  /* Имя шрифта */
  src: url(../fonts/Proxima Nova Bold.ttf);
  /* Путь к файлу со шрифтом */
  font-weight: bold;
  font-style: normal;
}
.slider {
  position: relative;
  z-index: 10;
  margin-top: -110px;
  margin-bottom: 30px;
}
.mySlides {
  position: relative;
  width: 100%;
  font-family: 'Proxima Nova Rg';
}
.mySlides {
  width: 100%;
}
.slider__button {
  position: absolute;
  bottom: 40%;
  padding: 28px 15px;
  cursor: pointer;
  font-size: 15px;
  color: #FFF;
  border: none;
  outline-style: none;
  background: #5D5D5C;
}
.slider__button:hover {
  outline: none;
}
.slider__button--right {
  right: 0;
}
.slider__text-banner {
  position: absolute;
  bottom: 5%;
  left: 10%;
  display: inline-block;
  margin: 0;
  background-color: rgba(67, 146, 168, 0.9);
  font-size: 34px;
  color: #FFF;
  padding: 22px 25px;
  width: 410px;
  font-family: 'Proxima Nova Rg';
}
@media (max-width: 1200px) {
  .slider {
    margin-top: 0;
  }
  .slider__text-banner {
    font-size: 25px;
    width: auto;
  }
}
@media (max-width: 768px) {
  .slider__text-banner {
    font-size: 18px;
  }
  .slider__button {
    padding: 8px 5px;
  }
}
.page-header__logo-img {
  float: left;
}
.page-header__user-block {
  float: right;
  position: relative;
}
.page-header__block {
  position: relative;
  z-index: 20;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 20px;
  background: #FFF;
}
.page-header__top-btn {
  background: none;
  border: none;
  outline: none;
  color: #FFF;
}
.page-header__nav {
  display: inline-block;
}
.page-header__nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.page-header__nav-items {
  display: inline-block;
  margin-right: 30px;
}
.page-header__nav-items:last-child {
  margin-right: 0;
}
.page-header__nav-links {
  color: #b2c199;
  text-decoration: none;
}
.page-header__nav-links--active {
  color: #5fa5b9;
}
.page-header__btn-block {
  position: absolute;
  right: -33px;
  padding: 7px 16px;
  background: rgba(95, 165, 185, 0.9);
  color: #FFF;
  margin-bottom: 25px;
}
.page-header__top-btn--search {
  margin-left: 60px;
}
.page-header__nav {
  padding-top: 50px;
}
.page-header__search-decor {
  position: absolute;
  right: 0px;
  color: #5fa5b9;
  background: none;
  margin: 0;
  padding: 0;
}
.pahe-header__hamburger,
.page-header__close {
  display: none;
}
@media (max-width: 768px) {
  .page-header__btn-block {
    display: none;
  }
  .page-header__logo-img {
    width: 80%;
  }
  .page-header__user-block {
    float: none;
  }
  .page-header__nav {
    display: none;
    z-index: 50;
    position: absolute;
    width: 100%;
    top: 30px;
    right: 5px;
    padding: 0;
    text-align: center;
    background: #FFF;
  }
  .page-header__nav-items {
    display: block;
    margin: 0;
  }
  .page-header__nav-links {
    text-align: center;
    display: block;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
  }
  .page-header__nav-links:hover {
    background: lightgrey;
    border-bottom: 1px solid #fff;
  }
  .pahe-header__hamburger {
    position: relative;
    top: 15px;
    margin-bottom: 0px;
    display: inline-block;
    float: right;
    width: 15%;
    font-size: 20px;
    background: none;
    border: none;
  }
  .page-header__block {
    padding: 0;
  }
  .page-header__close {
    display: none;
    position: relative;
    left: 30px;
    top: 15px;
    font-size: 20px;
    margin: 0;
    padding: 0;
    background: #FFF;
    color: #000;
    border: none;
    outline: none;
  }
  .showbtn {
    display: block;
  }
  .hidebtn {
    display: none;
  }
}
.page-content__title {
  display: none;
}
.page-content {
  margin: 0 auto;
}
.page-content__boxes {
  margin: 0 auto;
  margin-bottom: 30px;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.page-content__box {
  width: 300px;
  font-size: 0;
  padding-right: 20px;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
}
.page-content__box--box1 {
  background: url("../img/box1.jpg");
}
.page-content__box--box2 {
  background: url("../img/box2.jpg");
  text-align: center;
}
.page-content__box--box3 {
  background: url("../img/box3.jpg");
}
.page-content__box-title {
  float: right;
  margin-top: 85px;
  margin-bottom: 15px;
  font-size: 35px;
  color: #FFF;
  font-family: 'Proxima Nova Rg';
  text-shadow: 2px 2px #000;
}
.page-content__box-link {
  float: right;
  padding: 18px 25px;
  font-size: 16px;
  color: #FFF;
  text-decoration: none;
  text-align: right;
  cursor: pointer;
}
.page-content__boxdecor {
  padding-left: 15px;
  font-size: 18px;
  font-weight: lighter;
}
.page-content__box--box1 .page-content__box-link {
  background: rgba(85, 164, 180, 0.8);
}
.page-content__box--box2 .page-content__box-link {
  background: rgba(102, 131, 51, 0.8);
}
.page-content__box--box3 .page-content__box-link {
  background: rgba(230, 90, 91, 0.8);
}
@media (max-width: 1200px) {
  .page-content__box {
    margin-bottom: 30px;
  }
}
.upevents-block {
  margin-bottom: 40px;
}
.upcoming-events {
  float: left;
  width: 48%;
  text-align: bottom;
}
.upcoming-events__items {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #d4d0ca;
}
.upcoming-events__items--border {
  border-bottom: 1px solid #d4d0ca;
}
.upcoming-events__title {
  color: #4999af;
  font-weight: bold;
  margin-bottom: 35px;
}
.upcoming-events__date-block {
  text-align: center;
  margin-right: 23px;
}
.upcoming-events__date {
  margin-left: 10px;
  display: inline-block;
}
.upcoming-events__date-block {
  display: inline-block;
  float: left;
  margin: 0;
  margin-right: 20px;
  margin-top: 15px;
  color: #628A38;
  font-size: 30px;
  line-height: 15px;
  font-weight: bold;
  text-align: center;
}
.upcoming-events__month {
  font-size: 14px;
}
.upcoming-events__family {
  display: inline-block;
  float: left;
  margin: 0;
  color: #F1715E;
  font-size: 17px;
  margin-top: 10px;
}
.upcoming-events__time {
  color: #000;
  font-size: 13px;
}
.upcoming-events__link {
  float: right;
  display: block;
  padding: 15px 25px;
  font-size: 16px;
  background: #4999AF;
  -webkit-border-radius: 5%;
  border-radius: 5%;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
@media (max-width: 768px) {
  .upcoming-events {
    float: none;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .upcoming-events__title {
    margin-bottom: 20px;
  }
}
.events-text {
  float: right;
  width: 48%;
  text-align: bottom;
}
.events-text__link {
  color: #F1715E;
}
@media (max-width: 768px) {
  .events-text {
    float: none;
    width: 100%;
    margin: 0 auto;
  }
}
.page-footer {
  background: #56585A;
  padding: 30px 0;
}
.page-footer__content {
  padding-bottom: 30px;
  border-bottom: 1px solid #707171;
  margin-bottom: 15px;
}
.page-footer__items {
  color: #FFF;
}
.page-footer__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 18px;
  text-transform: uppercase;
}
.page-footer__items1 {
  width: 30%;
  float: left;
  text-align: center;
}
.page-footer__items2 {
  float: left;
  width: 30%;
  padding-left: 4%;
}
.page-footer__items1 {
  text-transform: uppercase;
}
.page-footer__link {
  display: block;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
  background: #4999AF;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.page-footer__time {
  color: #FFF;
  font-size: 20px;
}
.page-footer__time span {
  font-size: 12px;
}
.page-footer__items3 {
  float: right;
}
.page-footer__social-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.page-footer__social-items {
  display: inline-block;
  margin-right: 5px;
  width: 32px;
  height: 32px;
  background: url("../img/social.png");
}
.page-footer__social-items--2 {
  background-position: -40px 0px;
}
.page-footer__social-items--3 {
  background-position: -80px 0px;
}
.page-footer__social-items--4 {
  background-position: -120px 0px;
}
.page-footer__social-items--5 {
  background-position: -160px 0px;
}
.page-footer__copyright {
  text-align: center;
  color: #FFF;
  font-size: 12px;
}
@media (max-width: 768px) {
  .page-footer__items {
    float: none;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }
  .page-footer__title {
    margin-bottom: 15px;
    text-align: left;
  }
  .page-footer__content {
    padding-bottom: 0px;
  }
}
.banner {
  position: relative;
  background: url("../img/banner.jpg");
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 0 100%;
  top: -110px;
}
.banner__title {
  display: inline-block;
  padding: 15px 18px;
  margin-top: 360px;
  margin-bottom: 50px;
  color: #FFF;
  font-weight: bold;
  font-size: 30px;
  background: #3790B1;
}
.page-body--events .banner__title {
  padding-right: 200px;
}
@media (max-width: 1200px) {
  .banner {
    top: -120px;
  }
  .banner__title {
    display: inline-block;
    padding: 15px 18px;
    margin-top: 240px;
    margin-bottom: 40px;
  }
}
.about-block__text {
  float: left;
  width: 49%;
}
.about-block {
  margin-top: -110px;
  padding-top: 40px;
  padding-bottom: 170px;
  background: #f3eeea;
}
.about-block__title {
  margin-top: 0;
  margin-bottom: 20px;
  color: #55A4B4;
  text-transform: uppercase;
  font-size: 32px;
}
.about-block___sidebar {
  float: right;
  width: 49%;
}
.about-block__links {
  display: block;
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 15px;
  padding-left: 22px;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #55A4B4;
  border-bottom: 1px solid #D2CDC9;
}
.about-block__links:first-child {
  margin-top: 10px;
  border-top: 1px solid #D2CDC9;
}
.about-block__links--active {
  position: relative;
  color: #ED8673;
}
.about-block__decor {
  position: absolute;
  left: 0;
  color: #ED8673;
  font-size: 20px;
}
.about-block__text--membership {
  display: none;
}
@media (max-width: 1200px) {
  .about-block {
    margin-top: -120px;
    padding-bottom: 50px;
  }
}
@media (max-width: 768px) {
  .about-block__text {
    float: none;
    width: 100%;
    margin-bottom: 40px;
  }
  .about-block___sidebar {
    float: none;
    width: 100%;
  }
}
.events-blocks {
  font-size: 0;
  margin-top: -60px;
  margin-bottom: 60px;
}
.events-blocks__items {
  display: inline-block;
  width: 32%;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 20px;
  font-size: 0;
  background: #E65A5B;
}
.events-blocks__items:nth-child(2),
.events-blocks__items:nth-child(5) {
  margin-right: 2%;
  margin-left: 2%;
}
.events-blocks__items img {
  width: 100%;
}
.events-block__text {
  display: inline-block;
  padding-left: 2%;
  width: 78%;
  position: relative;
  bottom: 10px;
  font-size: 17px;
  text-transform: uppercase;
  color: #FFF;
  background: #E65A5B;
}
.events-blocks__items--decor {
  display: inline-block;
  width: 20%;
  padding: 10px 0;
  text-align: center;
  font-size: 17px;
  color: #FFF;
  background: #628A38;
}
@media (max-width: 1200px) {
  .events-blocks {
    margin-top: -80px;
  }
}
@media (max-width: 768px) {
  .events-blocks__items {
    display: block;
    width: 100%;
  }
  .events-blocks__items:nth-child(2),
  .events-blocks__items:nth-child(5) {
    margin: 0;
    margin-bottom: 20px;
  }
}
.shop-blocks {
  font-size: 0;
  margin-top: -60px;
  margin-bottom: 60px;
}
.shop-blocks__items {
  display: inline-block;
  position: relative;
  width: 29%;
  height: 220px;
  vertical-align: top;
  margin: 0 auto;
  padding: 0 1%;
  padding-top: 30px;
  margin-bottom: 20px;
  font-size: 0;
  background: white;
  border-top: 1px solid #E8E1DC;
  border-left: 1px solid #E8E1DC;
  border-right: 1px solid #E8E1DC;
}
.shop-blocks__items:nth-child(2),
.shop-blocks__items:nth-child(5) {
  margin-right: 2%;
  margin-left: 2%;
}
.shop-blocks__items img {
  display: block;
  margin: 0 auto;
}
.shop-blocks__items figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #E65A5B;
  color: #fff;
}
.shop-block__text {
  display: inline-block;
  padding-left: 2%;
  width: 73%;
  font-size: 17px;
}
.shop-blocks__items--decor {
  display: inline-block;
  width: 25%;
  padding: 10px 0;
  background: #55A4B4;
  text-align: center;
  font-size: 17px;
}
@media (max-width: 768px) {
  .shop-blocks__items {
    display: block;
    width: 100%;
  }
  .shop-blocks__items:nth-child(2),
  .shop-blocks__items:nth-child(5) {
    margin: 0;
    margin-bottom: 20px;
  }
}
